/* Customize your main colors in :root variables */
:root {
  --main-background-color: #ffffff;
  --card-background-color: #ffffff;
  --card-background-lighter-color: #050505;
  --main-text-color:#faf9f8;
  --title-text-color:#c20884;
}
body{
  background-color:var(--main-background-color);
  font-family: 'Roboto', cursive;
  font-size: 1.2em;
}
h2, p{
  color: var(--main-text-color);
}
h3{
font-weight: normal;
}
/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* Heading */
#root main h1{
 font-family:'Poppins', sans-serif;
 transform:translatex(0px) translatey(0px);
}
/* Wallet adapter button */
.sc-hKgJUU .sc-jSgvzq .wallet-adapter-button{
 font-family:'Poppins', sans-serif;
}
/* Qova */
#root main .sc-dQoVA{
 transform:translatex(0px) translatey(0px);
}
/* Paragraph */
.sc-bqyKOL .sc-kstqJO p{
 font-family:'Poppins', sans-serif;
}
/* Heading */
.sc-bqyKOL .sc-kstqJO h2{
 font-family:'Poppins', sans-serif;
 background-color:transparent;
}
/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(2){
 color:#000000;
}
/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(3){
 color:#000000;
}
/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(4){
 color:#000000;
}
/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(2){
 color:#000000;
}
/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(3){
 color:#000000;
}
/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(4){
 color:#000000;
}
/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(2){
 color:#000000;
}
/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(3){
 color:#000000;
}
/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(4){
 color:#000000;
}
/* Qova */
#root main .sc-dQoVA{
  background-image:linear-gradient(to right, #1c92d2 0%, #f2fcfe 100%);
  transform:translatex(0px) translatey(0px);
 }
 
 /* Main */
 #root main{
  transform:translatex(0px) translatey(0px);
 }
 
 /* Root */
 #root{
  background-image:linear-gradient(to right, #1c92d2 0%, #f2fcfe 100%);
  transform:translatex(0px) translatey(0px);
 }
 
 body{
  background-image:linear-gradient(to right, #1c92d2 0%, #f2fcfe 100%);
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO:nth-child(1) .MuiPaper-root{
  background-image:url("https://images.unsplash.com/photo-1489211914964-32c31f87e86b?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNTc5fDB8MXxzZWFyY2h8MjQxfHxwYWxtfGVufDB8fHx8MTY0ODgxMjU1Nw&ixlib=rb-1.2.1&q=80&w=2290");
  background-size:cover;
  background-attachment:fixed;
  background-blend-mode:multiply;
  transform:translatex(0px) translatey(0px);
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO:nth-child(2) .MuiPaper-root:nth-child(1){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(2){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(3){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(4){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(2){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(3){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(4){
  font-weight:600;
 }
 /* Qova */
#root main .sc-dQoVA{
  background-image:linear-gradient(45deg, #ff00cc 0%, #333399 100%);
  transform:translatex(0px) translatey(0px);
 }
 
 /* Main */
 #root main{
  transform:translatex(-3px) translatey(-4px);
  background-image:none;
  background-size:contain;
 }
 
 /* Root */
 #root{
  background-image:linear-gradient(45deg, #ff00cc 0%, #333399 100%);
  transform:translatex(10px) translatey(0px);
 }
 
 /* Body */
 body{
  background-image:linear-gradient(45deg, #ff00cc 0%, #333399 100%);
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO:nth-child(1) .MuiPaper-root{
  background-image:url("https://images.unsplash.com/photo-1648828312614-6a0793d7e7c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
  background-size:100% 100%;
  background-attachment:fixed;
  background-blend-mode:normal;
  transform:translatex(0px) translatey(0px);
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO:nth-child(2) .MuiPaper-root:nth-child(1){
  font-weight:600;
  transform:translatex(-3px) translatey(-4px);
  background-image:url("https://images.unsplash.com/photo-1648829529724-c8017c003bd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
  background-size:100% 100%;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(2){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(3){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(4){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(2){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(3){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(4){
  font-weight:600;
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(2){
  background-image:url("https://images.unsplash.com/photo-1648830159609-d0aa7fe05273?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
  background-size:100% 100%;
  transform:translatex(-3px) translatey(-4px);
  background-attachment:fixed;
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(3){
  background-image:url("https://images.unsplash.com/photo-1648830387031-8d7448951bdd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
  background-size:100% 100%;
 }
 
 /* Mui paper root */
.sc-bqyKOL .sc-kstqJO .MuiPaper-root{
  transform:translatex(0px) translatey(0px) !important;
  min-width:8px;
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(3){
  width:851px;
  height:451px;
  transform:translatex(263px) translatey(4px) !important;
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(2){
  width:851px;
  height:451px;
  transform:translatex(262px) translatey(0px) !important;
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO:nth-child(2) .MuiPaper-root:nth-child(1){
  width:851px;
  height:451px;
  transform:translatex(261px) translatey(-10px) !important;
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO:nth-child(1) .MuiPaper-root{
  width:1250px;
  transform:translatex(54px) translatey(-30px) !important;
 }
 
/* Paragraph */
.sc-bqyKOL .sc-kstqJO p{
  transform:translatex(0px) translatey(-33px);
 }
 
 /* Paragraph */
 #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root p{
  width:53% !important;
 }
 
 /* Root */
 #root{
  background-image:none;
 }
 
 /* Qova */
 #root main .sc-dQoVA{
  background-image:none;
  transform:translatex(0px) translatey(-33px);
 }
 
 /* Body */
 body{
  background-image:none;
 }
 
/* Wallet adapter button */
.sc-hKgJUU .sc-jSgvzq .wallet-adapter-button{
  transform:translatex(8px) translatey(33px);
 }
 
 /* Image */
 .sc-kEjbQP a img{
  display:inline-block;
  transform:translatex(7px) translatey(28px);
 }
 /* de aici se poate sterge pentru modificarile cu background negru */
/* Qova */
#root main .sc-dQoVA{
  display:inline-block;
  transform:translatex(0px) translatey(0px);
  margin-left:61px;
 }
 
 /* Main */
 #root main{
  transform:translatex(0px) translatey(0px);
 }
 
 /* Image */
 .sc-kEjbQP a img{
  transform:translatex(-510px) translatey(5px);
  width:86px;
  min-height:68px;
  margin-left: 142px;
 }
 
 /* Wallet adapter button */
 .sc-hKgJUU .sc-jSgvzq .wallet-adapter-button{
  transform:translatex(-88px) translatey(19px);
 }
 
 /* Fod vek */
 .sc-bqyKOL div .sc-fodVek{
  /* display:inline-block;
  transform:translatex(-365px) translatey(-225px);
  min-height:573px; */
  display: inline-block;
  transform: translatex(-335px) translatey(37px);
  min-height: 573px;
 }
 
 /* Heading */
 #root main h1{
  transform:translatex(-7px) translatey(-5px);
  display:none;
 }
 
 /* Body */
 body{
  background-color:#070707;
  overflow:hidden !important;
 }
 
 /* Root */
 #root{
  transform:translatex(-7px) translatey(-5px);
 }
 
 /* Kstqjo */
 .sc-dQoVA .sc-bqyKOL .sc-kstqJO{
  transform:translatex(-7px) translatey(-5px);
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO .MuiPaper-root{
  background-image:none !important;
  color:#faf9f9;
  background-color:#070707 !important;
 }
 
 /* Paragraph */
 .sc-bqyKOL .sc-kstqJO p{
  color:#ffffff !important;
  transform:translatex(657px) translatey(-555px);
 }
 
 .sc-bqyKOL div span{
  display:none;
 }
 
 /* Mui paper root */
 #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root{
  transform:translatex(0px) translatey(243px) !important;
 }
 
 /* Uewj */
 .sc-bqyKOL .sc-kstqJO .sc-dIUeWJ{
  transform:translatex(442px) translatey(-764px);
 }
 
 .sc-bqyKOL .sc-dIUeWJ img{
  display:none;
 }
 
 .sc-bqyKOL .MuiPaper-root:nth-child(2) .sc-idOiZg{
  display:none;
 }
 
 /* Paragraph */
 
 .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(4){
  transform:translatex(640px) translatey(-1113px);
 }
 
 /* Heading */
 .sc-bqyKOL .MuiPaper-root:nth-child(1) .sc-idOiZg{
  transform: translatex(445px) translatey(-506px) !important;
 }
 @media screen and (max-width: 1700px) {
  .sc-bqyKOL .MuiPaper-root:nth-child(1) .sc-idOiZg{
    transform: translatex(352px) translatey(-506px) !important;
   }
}
 @media screen and (max-width: 1400px) {
  .sc-bqyKOL .MuiPaper-root:nth-child(1) .sc-idOiZg{
    transform: translatex(180px) translatey(-506px) !important;
   }
}
 /* Paragraph */
 #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(1) p:nth-child(4){
  width:85% !important;
 }
 
 .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(2) {
  transform: translatex(890px) translatey(-1259px) !important;
}
@media screen and (max-width: 1700px) {
  .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(2){
    transform: translatex(784px) translatey(-1259px) !important;
   }
}
@media screen and (max-width: 1400px) {
  .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(2){
    transform: translatex(615px) translatey(-1259px) !important;
   }
}
 /* Paragraph */
 
 /* Paragraph */
 #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(1) p:nth-child(2){
  width:713px !important;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(2){
  transform:translatex(645px) translatey(-1202px);
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(3){
  transform:translatex(645px) translatey(-1199px);
 }
 
 /* Paragraph */
 #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(2) p:nth-child(2){
  width:708px !important;
 }
 
 /* Paragraph */
 #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(2) p:nth-child(3){
  width:692px !important;
 }
 
 /* Bqykol */
 #root main .sc-bqyKOL{
  transform:translatex(0px) translatey(-24px);
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(3){
  display:none;
 }
 
 /* Kstqjo */
 .sc-dQoVA .sc-bqyKOL .sc-kstqJO:nth-child(2){
  transform:translatex(-20px) translatey(-11px);
 }
 /* Wallet adapter button */
 
 .sc-bqyKOL .sc-kstqJO .wallet-adapter-button{
  transform:translatex(356px) translatey(-490px) !important;
 }
 @media screen and (max-width: 1400px) {
  .sc-bqyKOL .sc-kstqJO .wallet-adapter-button{
    transform:translatex(356px) translatey(-500px) !important;
   }
}
 /* Heading */
.sc-bqyKOL .sc-kstqJO h2{
  color:#c20884;
 }
 
 /* Wallet adapter button */
 .sc-hKgJUU .sc-jSgvzq .wallet-adapter-button{
  background-color:#c20884;
 }
 
 /* Wallet adapter button */
 .sc-bqyKOL .sc-kstqJO .wallet-adapter-button{
  background-color:#c20884;
 }
 /* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(4){
  transform: translatex(890px) translatey(-1250px);
 }
 @media screen and (max-width: 1700px) {
  .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(2){
    transform:translatex(784px) translatey(-1015px);
   }
   .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(4){
    transform: translatex(784px) translatey(-1250px);
   }
}
 @media screen and (max-width: 1400px) {
  .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(2){
    transform:translatex(617px) translatey(-1015px);
   }
   .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(4){
    transform: translatex(617px) translatey(-1250px);
   }
}
 /* Paragraph */
 /* modificari telefon incep aici */
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(2){
  transform: translatex(890px) translatey(-1485px) !important;
 }
 @media screen and (max-width: 1700px) {
  .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(2){
    transform: translatex(784px) translatey(-1485px) !important;
   }
}
 @media screen and (max-width: 1400px) {
  .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(2){
    transform: translatex(624px) translatey(-1485px) !important;
   }
}
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(3){
  transform:translatex(643px) translatey(-1250px);
 }
 .sc-bqyKOL .sc-kstqJO .wallet-adapter-button{
  transform:translatex(335px) translatey(-476px);
 }
 /* Wallet adapter button */
 @media screen and (max-width: 1400px) {
  .sc-bqyKOL .sc-kstqJO .wallet-adapter-button{
    transform:translatex(335px) translatey(-500px);
   }
 }
 
 @media (max-width:1316px){
 
  /* Heading */
  .sc-bqyKOL .MuiPaper-root:nth-child(1) .sc-idOiZg{
   font-size:13px;
   margin-top:36px;
   min-height:45px;
   transform:translatex(-394px) translatey(31px);
  }
  
  /* Paragraph */
  .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(2){
   transform:translatex(-70px) translatey(-487px);
  }
  
  /* Paragraph */
  .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(4){
   transform:translatex(-46px) translatey(-638px);
  }
  
  /* Paragraph */
  .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(2){
   transform:translatex(-52px) translatey(-1093px);
  }
  
  /* Paragraph */
  .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(3){
   transform:translatex(-47px) translatey(-1267px);
  }
  
  /* Wallet adapter button */
  .sc-bqyKOL .sc-kstqJO .wallet-adapter-button{
   transform:translatex(-308px) translatey(-627px);
  }
  
 }
 
 @media (max-width:480px){
 
  /* Fod vek */
  .sc-bqyKOL div .sc-fodVek{
   transform:translatex(-507px) translatey(-259px);
   width:353px;
   min-height:406px;
  }
  
  /* Kgjuu */
  #root main .sc-hKgJUU{
   transform:translatex(-268px) translatey(-3px);
  }
  
  /* Wallet adapter button */
  .sc-hKgJUU .sc-jSgvzq .wallet-adapter-button{
   transform:translatex(-324px) translatey(24px);
  }
  
  /* Wallet adapter button */
  .sc-bqyKOL .sc-kstqJO .wallet-adapter-button{
   transform:translatex(-657px) translatey(-766px);
  }
  
 }
 
 @media (max-width:374px){
 
  /* Wallet adapter button */
  .sc-hKgJUU .sc-jSgvzq .wallet-adapter-button{
   transform:translatex(-505px) translatey(12px);
  }
  
  /* Kgjuu */
  #root main .sc-hKgJUU{
   transform:translatex(-46px) translatey(-3px);
  }
  
  /* Image */
  .sc-kEjbQP a img{
   transform:translatex(-535px) translatey(0px);
  }
  
  /* Body */
  body{
   position:relative;
   left:4px;
   right:-8px;
   bottom:-16px;
   top:-57px;
  }
  
  /* Paragraph */
  .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(2){
   font-size:13px;
   transform:translatex(-35px) translatey(-698px);
  }
  
  /* Paragraph */
  .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(3){
   font-size:13px;
   min-height:33px;
   transform:translatex(-35px) translatey(-694px);
  }
  
  /* Paragraph */
  .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(4){
   font-size:13px;
   transform:translatex(-35px) translatey(-458px);
  }
  
  /* Paragraph */
  .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(2){
   font-size:13px;
   padding-top:7px;
   transform:translatex(-35px) translatey(-464px);
  }
  
  /* Heading */
  .sc-bqyKOL .MuiPaper-root:nth-child(1) .sc-idOiZg{
   transform:translatex(-429px) translatey(325px);
   font-size:15px;
  }
  
  /* Paragraph */
  #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(1) p:nth-child(2){
   width:320px !important;
  }
  
  /* Paragraph */
  #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(1) p:nth-child(4){
   width:346px !important;
  }
  
  /* Main */
  #root main{
   position:relative;
   bottom:189px;
  }
  
  /* Paragraph */
  #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(2) p:nth-child(2){
   width:322px !important;
  }
  
  /* Paragraph */
  #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(2) p:nth-child(3){
   width:333px !important;
  }
  
  /* Wallet adapter button */
  .sc-bqyKOL .sc-kstqJO .wallet-adapter-button{
   min-height:4px;
   transform:translatex(-522px) translatey(60px);
   height:53px;
   width:80px;
  }
  
 }
 
 @media (max-width:480px){
  /* Wallet adapter button */
  .sc-hKgJUU .sc-jSgvzq .wallet-adapter-button{
   transform:translatex(-554px) translatey(24px);
  }
  
  /* Kgjuu */
  #root main .sc-hKgJUU{
   transform:translatex(0px) translatey(-16px);
  }
  
  /* Paragraph */
  .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(2){
   font-size:13px;
   min-height:44px;
   transform:translatex(-46px) translatey(-479px);
  }
  
  /* Paragraph */
  .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(4){
   font-size:13px;
   transform:translatex(-46px) translatey(-474px);
  }
  
  /* Paragraph */
  .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(2){
   font-size:13px;
   transform:translatex(-47px) translatey(-740px);
   padding-right:76px;
  }
  
  /* Paragraph */
  .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(3){
   font-size:13px;
   min-height:28px;
   height:28px;
   transform:translatex(-46px) translatey(-725px);
  }
  
  /* Heading */
  .sc-bqyKOL .MuiPaper-root:nth-child(1) .sc-idOiZg{
   transform:translatex(-422px) translatey(319px);
   font-size:15px;
  }
  
  /* Paragraph */
  #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(2) p:nth-child(3){
   width:347px !important;
  }
  
  /* Paragraph */
  #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(1) p:nth-child(4){
   width:327px !important;
  }
  
  /* Body */
  body{
   position:relative;
   bottom:0px;
   background-size:auto;
  }
  
  /* Paragraph */
  #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(1) p:nth-child(2){
   width:363px !important;
  }
  
  /* Paragraph */
  #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(2) p:nth-child(2){
   width:361px !important;
  }
  
  /* Wallet adapter button */
  .sc-bqyKOL .sc-kstqJO .wallet-adapter-button{
   transform:translatex(-517px) translatey(45px);
  }
  
 
 }

.sol-btn{
  width: 300px;
} 


/* Heading */
#root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root .sc-dIUeWJ h2{
  transform:translatex(268px) translatey(-515px) !important;
 }

 /* Paragraph */
 #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root p{
  transform:translatex(709px) translatey(-1293px) !important;
 }

 /* Paragraph */
 #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(2) p{
  transform:translatex(709px) translatey(-1542px) !important;
 }

 @media (min-width:481px){

  /* Fod vek */
  .sc-bqyKOL div .sc-fodVek{
   transform:translatex(-374px) translatey(31px);
  }

 }