body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Heading */
#root main h1{
 font-family:'Poppins', sans-serif;
 transform:translatex(0px) translatey(0px);
}

/* Wallet adapter button */
.sc-hKgJUU .sc-jSgvzq .wallet-adapter-button{
 font-family:'Poppins', sans-serif;
}

/* Qova */
#root main .sc-dQoVA{
 transform:translatex(0px) translatey(0px);
}

/* Paragraph */
.sc-bqyKOL .sc-kstqJO p{
 font-family:'Poppins', sans-serif;
}

/* Heading */
.sc-bqyKOL .sc-kstqJO h2{
 font-family:'Poppins', sans-serif;
 background-color:transparent;
}

/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(2){
 color:#000000;
}

/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(3){
 color:#000000;
}

/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(4){
 color:#000000;
}

/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(2){
 color:#000000;
}

/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(3){
 color:#000000;
}

/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(4){
 color:#000000;
}

/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(2){
 color:#000000;
}

/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(3){
 color:#000000;
}

/* Paragraph */
.sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(4){
 color:#000000;
}

/* Qova */
#root main .sc-dQoVA{
  background-image:linear-gradient(to right, #1c92d2 0%, #f2fcfe 100%);
  transform:translatex(0px) translatey(0px);
 }
 
 /* Main */
 #root main{
  transform:translatex(0px) translatey(0px);
 }
 
 /* Root */
 #root{
  background-image:linear-gradient(to right, #1c92d2 0%, #f2fcfe 100%);
  transform:translatex(0px) translatey(0px);
 }
 
 body{
  background-image:linear-gradient(to right, #1c92d2 0%, #f2fcfe 100%);
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO:nth-child(1) .MuiPaper-root{
  background-image:url("https://images.unsplash.com/photo-1489211914964-32c31f87e86b?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNTc5fDB8MXxzZWFyY2h8MjQxfHxwYWxtfGVufDB8fHx8MTY0ODgxMjU1Nw&ixlib=rb-1.2.1&q=80&w=2290");
  background-size:cover;
  background-attachment:fixed;
  background-blend-mode:multiply;
  transform:translatex(0px) translatey(0px);
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO:nth-child(2) .MuiPaper-root:nth-child(1){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(2){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(3){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(4){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(2){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(3){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(4){
  font-weight:600;
 }

 /* Qova */
#root main .sc-dQoVA{
  background-image:linear-gradient(45deg, #ff00cc 0%, #333399 100%);
  transform:translatex(0px) translatey(0px);
 }
 
 /* Main */
 #root main{
  transform:translatex(-3px) translatey(-4px);
  background-image:none;
  background-size:contain;
 }
 
 /* Root */
 #root{
  background-image:linear-gradient(45deg, #ff00cc 0%, #333399 100%);
  transform:translatex(10px) translatey(0px);
 }
 
 /* Body */
 body{
  background-image:linear-gradient(45deg, #ff00cc 0%, #333399 100%);
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO:nth-child(1) .MuiPaper-root{
  background-image:url("https://images.unsplash.com/photo-1648828312614-6a0793d7e7c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
  background-size:100% 100%;
  background-attachment:fixed;
  background-blend-mode:normal;
  transform:translatex(0px) translatey(0px);
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO:nth-child(2) .MuiPaper-root:nth-child(1){
  font-weight:600;
  transform:translatex(-3px) translatey(-4px);
  background-image:url("https://images.unsplash.com/photo-1648829529724-c8017c003bd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
  background-size:100% 100%;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(2){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(3){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(4){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(2){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(3){
  font-weight:600;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(3) p:nth-child(4){
  font-weight:600;
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(2){
  background-image:url("https://images.unsplash.com/photo-1648830159609-d0aa7fe05273?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
  background-size:100% 100%;
  transform:translatex(-3px) translatey(-4px);
  background-attachment:fixed;
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(3){
  background-image:url("https://images.unsplash.com/photo-1648830387031-8d7448951bdd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
  background-size:100% 100%;
 }
  
/* Mui paper root */
.sc-bqyKOL .sc-kstqJO .MuiPaper-root{
  transform:translatex(0px) translatey(0px) !important;
  min-width:8px;
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(3){
  width:851px;
  height:451px;
  transform:translatex(263px) translatey(4px) !important;
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(2){
  width:851px;
  height:451px;
  transform:translatex(262px) translatey(0px) !important;
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO:nth-child(2) .MuiPaper-root:nth-child(1){
  width:851px;
  height:451px;
  transform:translatex(261px) translatey(-10px) !important;
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO:nth-child(1) .MuiPaper-root{
  width:1250px;
  transform:translatex(54px) translatey(-30px) !important;
 }
 
 /* Paragraph */
.sc-bqyKOL .sc-kstqJO p{
  transform:translatex(0px) translatey(-33px);
 }
 
 /* Paragraph */
 #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root p{
  width:53% !important;
 }
 
 /* Root */
 #root{
  background-image:none;
 }
 
 /* Qova */
 #root main .sc-dQoVA{
  background-image:none;
  transform:translatex(0px) translatey(-33px);
 }
 
 /* Body */
 body{
  background-image:none;
 }
 
 /* Wallet adapter button */
.sc-hKgJUU .sc-jSgvzq .wallet-adapter-button{
  transform:translatex(8px) translatey(33px);
 }
 
 /* Image */
 .sc-kEjbQP a img{
  display:inline-block;
  transform:translatex(7px) translatey(28px);
 }

 /* de aici se poate sterge pentru ultimele update-uri cu background negru */
 /* Qova */
#root main .sc-dQoVA{
  display:inline-block;
  transform:translatex(0px) translatey(0px);
  margin-left:61px;
 }
 
 /* Main */
 #root main{
  transform:translatex(0px) translatey(0px);
 }
 
 /* Image */
 .sc-kEjbQP a img{
  transform:translatex(-583px) translatey(5px);
  width:86px;
  min-height:68px;
 }
 
 /* Wallet adapter button */
 .sc-hKgJUU .sc-jSgvzq .wallet-adapter-button{
  transform:translatex(-54px) translatey(19px);
 }
 
 /* Fod vek */
 .sc-bqyKOL div .sc-fodVek{
  display:inline-block;
  transform:translatex(-365px) translatey(-225px);
  min-height:573px;
 }
 
 /* Heading */
 #root main h1{
  transform:translatex(-7px) translatey(-5px);
  display:none;
 }
 
 /* Body */
 body{
  background-color:#070707;
  overflow:hidden !important;
 }
 
 /* Root */
 #root{
  transform:translatex(-7px) translatey(-5px);
 }
 
 /* Kstqjo */
 .sc-dQoVA .sc-bqyKOL .sc-kstqJO{
  transform:translatex(-7px) translatey(-5px);
 }
 
 /* Mui paper root */
 .sc-bqyKOL .sc-kstqJO .MuiPaper-root{
  background-image:none !important;
  color:#faf9f9;
  background-color:#070707 !important;
 }
 
 /* Paragraph */
 .sc-bqyKOL .sc-kstqJO p{
  color:#ffffff !important;
  transform:translatex(657px) translatey(-555px);
 }
 
 .sc-bqyKOL div span{
  display:none;
 }
 
 /* Mui paper root */
 #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root{
  transform:translatex(0px) translatey(243px) !important;
 }
 
 /* Uewj */
 .sc-bqyKOL .sc-kstqJO .sc-dIUeWJ{
  transform:translatex(442px) translatey(-764px);
 }
 
 .sc-bqyKOL .sc-dIUeWJ img{
  display:none;
 }
 
 .sc-bqyKOL .MuiPaper-root:nth-child(2) .sc-idOiZg{
  display:none;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(4){
  transform:translatex(640px) translatey(-1113px);
 }
 
 /* Heading */
 .sc-bqyKOL .MuiPaper-root:nth-child(1) .sc-idOiZg{
  transform:translatex(203px) translatey(-224px);
 }
 
 /* Paragraph */
 #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(1) p:nth-child(4){
  width:85% !important;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(2){
  transform:translatex(645px) translatey(-910px);
 }
 
 /* Paragraph */
 #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(1) p:nth-child(2){
  width:713px !important;
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(2){
  transform:translatex(645px) translatey(-1202px);
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(2) p:nth-child(3){
  transform:translatex(645px) translatey(-1199px);
 }
 
 /* Paragraph */
 #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(2) p:nth-child(2){
  width:708px !important;
 }
 
 /* Paragraph */
 #root main .sc-dQoVA .sc-bqyKOL .sc-kstqJO .MuiPaper-root:nth-child(2) p:nth-child(3){
  width:692px !important;
 }
 
 /* Bqykol */
 #root main .sc-bqyKOL{
  transform:translatex(0px) translatey(-24px);
 }
 
 /* Paragraph */
 .sc-bqyKOL .MuiPaper-root:nth-child(1) p:nth-child(3){
  display:none;
 }
 
 /* Kstqjo */
 .sc-dQoVA .sc-bqyKOL .sc-kstqJO:nth-child(2){
  transform:translatex(-20px) translatey(-11px);
 }
 
 /* Wallet adapter button */
 .sc-bqyKOL .sc-kstqJO .wallet-adapter-button{
  transform:translatex(356px) translatey(-385px);
 }
 
 